<!DOCTYPE html>
<html>
<head>
	<title>Shopin-Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	{% include "includes/nav.html" %}
	{% with messages=get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category,message in messages %}
				<div class="alert alert-{{category}}" style="margin:0 !important">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p>{{message}}</p>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="container-fluid" style="margin: 0; padding: 0;">
		<div class="jumbotron text-center">
			<h1>Register</h1>
		</div>
	</div>
	<div class="container" style="max-width: 500px; height: auto;">
		<div class="jumbotron">
			<form name="register" action="" method="post" novalidate>
				<fieldset class="form-group">
					{{form.hidden_tag()}}
					<p>{{form.first_name.label}}<br>
					{{form.first_name(size=50)}}</p>
					<p>{{form.last_name.label}}<br>
					{{form.last_name(size=50)}}</p>
					<p>{{form.email.label}}<br>
					{{form.email(size=50)}}</p>
					<p>{{form.password.label}}<br>
						{{form.password(size=50)}}
					</p>
					<p>{{form.confirm_password.label}}<br>
						{{form.confirm_password(size=50)}}
					</p>
					<div class="text-center">
					<p>{{form.submit}}</p>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>